### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import os

# File to Load (Remember to Change These)
file_to_load = os.path.join(".","Resources","purchase_data.csv")

# Read Purchasing File and store into Pandas data frame
purchase_df = pd.read_csv(file_to_load)

In [2]:
#====Initial evaluation of data  
purchase_df.describe()

       Purchase ID         Age     Item ID       Price
count   780.000000  780.000000  780.000000  780.000000
mean    389.500000   22.714103   91.755128    3.050987
std     225.310896    6.659444   52.697702    1.169549
min       0.000000    7.000000    0.000000    1.000000
25%     194.750000   20.000000   47.750000    1.980000
50%     389.500000   22.000000   92.000000    3.150000
75%     584.250000   25.000000  138.000000    4.080000
max     779.000000   45.000000  183.000000    4.990000

In [3]:
#====Initial evaluation of data part 2
purchase_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 780 entries, 0 to 779
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Purchase ID  780 non-null    int64
 1   SN           780 non-null    object
 2   Age          780 non-null    int64
 3   Gender       780 non-null    object
 4   Item ID      780 non-null    int64
 5   Item Name    780 non-null    object
 6   Price        780 non-null    float64
dtypes: float64(1), int64(3), object(3)
memory usage: 42.8+ KB

In [4]:
#====checking for missing data
purchase_df.count()

Purchase ID    780
SN             780
Age            780
Gender         780
Item ID        780
Item Name      780
Price          780
dtype: int64

## Player Count

* Display the total number of players

In [5]:
#====Number of unique players
total_players = len(purchase_df["SN"].value_counts())
print(f"Total Players: {total_players}")

Total Players: 576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
#====Unique item count

#purchase_df["Item Name"].value_counts()
item_count = len(purchase_df["Item Name"].unique())
print(f"Available Items for purchase: {item_count}")

Available Items for purchase: 179

In [7]:
#====Average Purchase Price

ave_purch = round(purchase_df["Price"].mean(),2)


print(f"Average purchase amount per transaction: {ave_purch}")

Average purchase amount per transaction: 3.05

In [8]:
#====Total Number of purchases

purch_count = purchase_df["Purchase ID"].count()
print(f"The total number of transactions: {purch_count}")

The total number of transactions: 780

In [9]:
#====Total Revenue

tot_rev = round(purchase_df["Price"].sum(),2)
print(f"The total revenue from transactions: {tot_rev}")

The total revenue from transactions: 2379.77

In [10]:
#====Create summary df

#==Method A - Not Used
#summary_df = pd.DataFrame({
#    "Number of Items" : [item_count],
#    "Ave Purchase Price" : [ave_purch],
#    "Total Number of Purchase" : [purch_count],
#    "Total Revenue" : [tot_rev]
#})
#summary_df.transpose()

#==Method B
results = {"Results" : [item_count, ave_purch, purch_count, tot_rev]}
summary_df = pd.DataFrame(results, index=["Number of Items","Ave Purchase Price","Total Number of Purchase","Total Revenue"])

summary_df

                          Results
Number of Items            179.00
Ave Purchase Price           3.05
Total Number of Purchase   780.00
Total Revenue             2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [11]:
#====Count of Unique Players
unique_players = len(purchase_df["SN"].unique())
unique_players

576

In [12]:
#====Gender - Unique Male Players

male_df = purchase_df.loc[purchase_df["Gender"] == "Male",:]
male_count = len(male_df["SN"].unique())
male_count

484

In [13]:
#====Gender - Unique female Players


female_df = purchase_df.loc[purchase_df["Gender"] == "Female",:]
female_count = len(female_df["SN"].unique())
female_count

81

In [14]:
#====Gender - Unique other Players


other_df = purchase_df.loc[purchase_df["Gender"] == "Other / Non-Disclosed",:]
other_count = len(other_df["SN"].unique())
other_count

11


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [15]:
#====Gender Summary

#gender_ratio = purchase_df["Gender"].value_counts(normalize=True)
#gender_count = purchase_df["Gender"].value_counts()

gender_df = purchase_df.groupby(["Gender"])
gender_df["Gender"].value_counts()

Gender                 Gender
Female                 Female                   113
Male                   Male                     652
Other / Non-Disclosed  Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [16]:
#====Gender - Purch Counts

gpurch_count = gender_df["Purchase ID"].count()
gindex=gpurch_count.index
#type(gindex)
print(gpurch_count)

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Purchase ID, dtype: int64

In [17]:
#====Gender - Total Purch 

gpurch_rev = gender_df["Price"].sum()
print(gpurch_rev)

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [18]:
#====Gender - Ave Purch 

gpurch_ave = round(gender_df["Price"].mean(),2)
print(gpurch_ave)

Gender
Female                   3.20
Male                     3.02
Other / Non-Disclosed    3.35
Name: Price, dtype: float64

In [19]:
#==== Create list for unique players by gender
gender_player = [female_count, male_count, other_count]

In [20]:
gender_combine= list(zip(gender_player,gpurch_count,gpurch_ave,gpurch_rev))
gender_summary= pd.DataFrame(gender_combine, columns = ['Players by Gender','Transactions by Gender','Ave Purch by Gender','Total Rev by Gender'])
gender_summary.index=gindex 
gender_summary.rename_axis("Gender", inplace=True)

gender_summary["Ave Purch by Player"]= round(gender_summary["Total Rev by Gender"]/gender_summary["Players by Gender"],2)
gender_summary["Gender Ratio"]= gender_summary["Players by Gender"]/unique_players
gender_summary1 = gender_summary[["Players by Gender","Gender Ratio","Transactions by Gender","Total Rev by Gender","Ave Purch by Gender","Ave Purch by Player"]]
gender_summary1["Gender Ratio"] = gender_summary["Gender Ratio"].astype(float).map("{:.1%}".format) 
gender_summary1["Total Rev by Gender"] = gender_summary["Total Rev by Gender"].astype(float).map("${:.2f}".format) 
gender_summary1["Ave Purch by Gender"] = gender_summary["Ave Purch by Gender"].astype(float).map("${:.2f}".format)
gender_summary1["Ave Purch by Player"] = gender_summary["Ave Purch by Player"].astype(float).map("${:.2f}".format)
gender_summary1

,Players by Gender,Gender Ratio,Transactions by Gender,Total Rev by Gender,Ave Purch by Gender,Ave Purch by Player
Gender,,,,,,
Female,81,14.1%,113,$361.94,$3.20,$4.47
Male,484,84.0%,652,$1967.64,$3.02,$4.07
Other / Non-Disclosed,11,1.9%,15,$50.19,$3.35,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [21]:
age_bins = [0, 10, 14, 19, 24, 29, 34, 39, 44, 120]
age_lables = ["<10 yrs", "11-14 yrs", "15-19 yrs", "20-24 yrs","25-29 yrs", "30-34 yrs", "35-39 yrs", "40-44 yrs", "Too Old"]

purchase_df["Age Group"] = pd.cut(purchase_df["Age"],age_bins,labels=age_lables)
purchase_df.head(10)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24 yrs
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40-44 yrs
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24 yrs
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24 yrs
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24 yrs
5,5,Yalae81,22,Male,81,Dreamkiss,3.61,20-24 yrs
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18,35-39 yrs
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67,20-24 yrs
8,8,Undjask33,22,Male,21,Souleater,1.10,20-24 yrs
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58,35-39 yrs

## Purchasing Analysis (Age)

In [22]:
#====Age Analysis, grouping by age buckets 
age_df = purchase_df.groupby("Age Group")
age_df["Purchase ID"].count()

Age Group
<10 yrs       32
11-14 yrs     19
15-19 yrs    136
20-24 yrs    365
25-29 yrs    101
30-34 yrs     73
35-39 yrs     41
40-44 yrs     12
Too Old        1
Name: Purchase ID, dtype: int64

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [23]:
#====Transaction count by age group
age_count = age_df["Purchase ID"].count()
aindex=age_count.index
#print(aindex)

In [24]:
#====Count of unique players by age group  !!!!! REALLY WISH ".nunique" WAS COVERED IN CLASS MATERIALS. WOULD HAVE SAVED ME HOURS OF GOOGLE SEARCHES AND HEAD SCRATCHING
age_unique = age_df["SN"].nunique()
#age_unique_group = age_df.groupby("Age Group").counts()
age_unique

Age Group
<10 yrs       24
11-14 yrs     15
15-19 yrs    107
20-24 yrs    258
25-29 yrs     77
30-34 yrs     52
35-39 yrs     31
40-44 yrs     11
Too Old        1
Name: SN, dtype: int64

In [25]:
#==== Ave Purchase by age group
age_apurch = age_df["Price"].mean()
age_apurch

Age Group
<10 yrs      3.405000
11-14 yrs    2.681579
15-19 yrs    3.035956
20-24 yrs    3.052219
25-29 yrs    2.900990
30-34 yrs    2.931507
35-39 yrs    3.601707
40-44 yrs    3.045000
Too Old      1.700000
Name: Price, dtype: float64

In [26]:
#====Purchase total per person in age group
age_tpurch = age_df["Price"].sum()
age_tpurch

Age Group
<10 yrs       108.96
11-14 yrs      50.95
15-19 yrs     412.89
20-24 yrs    1114.06
25-29 yrs     293.00
30-34 yrs     214.00
35-39 yrs     147.67
40-44 yrs      36.54
Too Old         1.70
Name: Price, dtype: float64

In [27]:
#====Ave Purchase per person in age group
age_ppurch = age_tpurch/age_unique
age_ppurch

Age Group
<10 yrs      4.540000
11-14 yrs    3.396667
15-19 yrs    3.858785
20-24 yrs    4.318062
25-29 yrs    3.805195
30-34 yrs    4.115385
35-39 yrs    4.763548
40-44 yrs    3.321818
Too Old      1.700000
dtype: float64

In [28]:
#====Age Summary
age_combine= list(zip(age_unique ,age_count, age_tpurch, age_apurch, age_ppurch))
age_summary= pd.DataFrame(age_combine, columns = ['Players by Age ','Transactions by Age','Total Rev by Age','Ave Purch by Age', 'Ave Purch by Player'])
age_summary.index=aindex 
age_summary.rename_axis("Age Group", inplace=True)
age_summary1 = age_summary
age_summary1["Total Rev by Age"] = age_summary["Total Rev by Age"].astype(float).map("${:.2f}".format) 
age_summary1["Ave Purch by Age"] = age_summary["Ave Purch by Age"].astype(float).map("${:.2f}".format)
age_summary1["Ave Purch by Player"] = age_summary["Ave Purch by Player"].astype(float).map("${:.2f}".format)

age_summary1

,Players by Age,Transactions by Age,Total Rev by Age,Ave Purch by Age,Ave Purch by Player
Age Group,,,,,
<10 yrs,24,32,$108.96,$3.40,$4.54
11-14 yrs,15,19,$50.95,$2.68,$3.40
15-19 yrs,107,136,$412.89,$3.04,$3.86
20-24 yrs,258,365,$1114.06,$3.05,$4.32
25-29 yrs,77,101,$293.00,$2.90,$3.81
30-34 yrs,52,73,$214.00,$2.93,$4.12
35-39 yrs,31,41,$147.67,$3.60,$4.76
40-44 yrs,11,12,$36.54,$3.04,$3.32
Too Old,1,1,$1.70,$1.70,$1.70

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [40]:
#====Player activity

player_df = purchase_df.groupby("SN")

In [41]:
#====Player transactions (count by player)

player_tcount = player_df["Purchase ID"].count()
pindex=player_tcount.index
#print(pindex)

In [42]:
#====Player Purchases (sum by player)

player_tpurch = player_df["Price"].sum()
player_tpurch.tail()

SN
Yathecal82       6.22
Yathedeu43       6.02
Yoishirrala98    4.58
Zhisrisu83       7.89
Zontibe81        8.03
Name: Price, dtype: float64

In [43]:
#====Player Ave Purchases (ave by player)

player_apurch = player_tpurch/player_tcount
player_apurch.tail()

SN
Yathecal82       2.073333
Yathedeu43       3.010000
Yoishirrala98    4.580000
Zhisrisu83       3.945000
Zontibe81        2.676667
dtype: float64

In [51]:
#====Player Summary
player_combine= list(zip(player_tcount ,player_tpurch, player_apurch))
player_summary= pd.DataFrame(player_combine, columns = ['Transactions by Player','Total Rev by Player','Ave Purch by Player'])
player_summary.index=pindex 
player_summary.rename_axis("Player", inplace=True)

player_summary1 = player_summary.sort_values("Total Rev by Player", ascending=False)
player_summary1["Total Rev by Player"] = player_summary["Total Rev by Player"].astype(float).map("${:.2f}".format) 
player_summary1["Ave Purch by Player"] = player_summary["Ave Purch by Player"].astype(float).map("${:.2f}".format)
player_summary1

             Transactions by Player Total Rev by Player Ave Purch by Player
Player
Lisosia93                         5              $18.96               $3.79
Idastidru52                       4              $15.45               $3.86
Chamjask73                        3              $13.83               $4.61
Iral74                            4              $13.62               $3.40
Iskadarya95                       3              $13.10               $4.37
...                             ...                 ...                 ...
Ililsasya43                       1               $1.02               $1.02
Irilis75                          1               $1.02               $1.02
Aidai61                           1               $1.01               $1.01
Chanirra79                        1               $1.01               $1.01
Alo38                             1               $1.00               $1.00

[576 rows x 3 columns]

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [87]:
#====Item Analysis, grouped by item
item_df = purchase_df.groupby(['Item ID','Item Name'])
item_df["Item ID"].count()

Item ID  Item Name
0        Splinter                                         4
1        Crucifer                                         4
2        Verdict                                          6
3        Phantomlight                                     6
4        Bloodlord's Fetish                               5
                                                         ..
178      Oathbreaker, Last Hope of the Breaking Storm    12
179      Wolf, Promise of the Moonwalker                  6
181      Reaper's Toll                                    5
182      Toothpick                                        3
183      Dragon's Greatsword                              3
Name: Item ID, Length: 179, dtype: int64

In [99]:
#====Item Purchase Occurance 
item_count = item_df["Item ID"].count()
iindex = item_count.index

In [89]:
#====Revenue by item (sum)
item_rev = item_df["Price"].sum()
item_rev

Item ID  Item Name
0        Splinter                                         5.12
1        Crucifer                                        11.77
2        Verdict                                         14.88
3        Phantomlight                                    14.94
4        Bloodlord's Fetish                               8.50
                                                         ...
178      Oathbreaker, Last Hope of the Breaking Storm    50.76
179      Wolf, Promise of the Moonwalker                 26.88
181      Reaper's Toll                                    8.30
182      Toothpick                                       12.09
183      Dragon's Greatsword                              3.27
Name: Price, Length: 179, dtype: float64

In [90]:
#====Ave Price per item
item_price = item_rev/item_count
item_price

Item ID  Item Name
0        Splinter                                        1.2800
1        Crucifer                                        2.9425
2        Verdict                                         2.4800
3        Phantomlight                                    2.4900
4        Bloodlord's Fetish                              1.7000
                                                          ...
178      Oathbreaker, Last Hope of the Breaking Storm    4.2300
179      Wolf, Promise of the Moonwalker                 4.4800
181      Reaper's Toll                                   1.6600
182      Toothpick                                       4.0300
183      Dragon's Greatsword                             1.0900
Length: 179, dtype: float64

In [122]:
#====Item Summary Multi-Index
#item_combine= list(zip(item_count ,item_price, item_rev))
#item_summary= pd.DataFrame(item_combine, columns = ['Transactions by Item','Item Price','Total Rev by Item'])
#item_summary.set_index(i['Item ID', 'Item Name'], inplace=True)
#item_summary.rename_axis("Item", inplace=True)

item_summary = pd.DataFrame({'Transactions by Item':item_count,'Item Price':item_price,'Total Rev by Item':item_rev})
#item_summary.info() 

item_summary1 = item_summary.sort_values("Transactions by Item", ascending=False)
item_summary1["Item Price"] = item_summary["Item Price"].astype(float).map("${:.2f}".format) 
item_summary1["Total Rev by Item"] = item_summary["Total Rev by Item"].astype(float).map("${:.2f}".format)
#print(item_summary1.head(10))
item_summary1.nlargest(10,'Transactions by Item')

,,Transactions by Item,Item Price,Total Rev by Item
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
75,Brutality Ivory Warmace,8,$2.42,$19.36
103,Singed Scalpel,8,$4.35,$34.80
34,Retribution Axe,8,$2.22,$17.76
37,"Shadow Strike, Glory of Ending Hope",8,$3.16,$25.28

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [134]:
#====Item Summary by Total Revenue

item_summary2 = item_summary.sort_values("Total Rev by Item", ascending=False)
item_summary2["Item Price"] = item_summary["Item Price"].astype(float).map("${:.2f}".format) 
item_summary2["Total Rev by Item"] = item_summary["Total Rev by Item"].astype(float).map("${:.2f}".format)
item_summary2.head(10)
#item_summary2.nlargest(10,item_summary2['Total Rev by Item'].astype(float)) <---cannot convert str to float

,,Transactions by Item,Item Price,Total Rev by Item
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80
59,"Lightning, Etcher of the King",8,$4.23,$33.84
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
78,"Glimmer, Ender of the Moon",7,$4.40,$30.80
72,Winter's Bite,8,$3.77,$30.16
132,Persuasion,9,$3.22,$28.99